* {
    /* border: 2px solid blue; */
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.gameboard {
    display: flex;
    flex-flow: row wrap;
    width: 620px;
    margin: 0 auto;
}


.square {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row1, .row2 {
    border-bottom: 10px solid black;
}

.column1, .column2 {
    border-right: 10px solid black;
}