* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

.gameboard {
    display: flex;
    flex-flow: row wrap;
    width: 602px;
    margin: 25px auto;
    border: 1px solid gray;
}


.square {
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
}

.row1, .row2 {
    border-bottom: 8px solid black;
}

.column1, .column2 {
    border-right: 8px solid black;
}

#reset {
    padding: 10px 40px;
    margin: 10px 0;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: #F5F567;
    border: none;
}

.playerX {
    background-color: #67F5F5;
}

.playerO {
    background-color: #F567F5;
}