* {
    box-sizing: border-box;
}

body {
    text-align: center;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 20px;
    margin: 0 auto;
    letter-spacing: 2px;
}

h1 {
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.message {
    margin: 0;
}

.gameboard {
    display: flex;
    flex-flow: row wrap;
    width: 482px;
    margin: 10px auto;
    border: 1px solid gray;
}


.square {
    height: 160px;
    width: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
}

.row1, .row2 {
    border-bottom: 8px solid black;
}

.column1, .column2 {
    border-right: 8px solid black;
}

#reset {
    padding: 5px 40px;
    margin: 10px 0;
    font-family: 'Waiting for the Sunrise', cursive;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bold;
    background-color: #F5F567;
    border: none;
}

.playerX {
    background-color: #67F5F5;
}

.playerY {
    background-color: #F567F5;
}